# Odoo configuratie
ODOO_URL=<your_odoo_url>
ODOO_DB=<your_odoo_db>
ODOO_USER=<your_odoo_username>
ODOO_PASS=<your_odoo_password>

# Postgres configuratie
POSTGRES_USER=<your_postgres_username>
POSTGRES_PASSWORD=<your_postgres_password>

# RabbitMQ configuratie
RABBIT_HOST=<your_rabbitmq_host>
RABBIT_USER=<your_rabbitmq_username>
RABBIT_PASS=<your_rabbitmq_password>
RABBIT_EXCHANGE=<your_rabbitmq_exchange>

# Integratie instellingen
POLL_INTERVAL=<poll_interval_in_seconds>
